kestra/flows/dashboard.yaml
id: dashboard
namespace: valorant
inputs:
  - id: username
    type: STRING
    defaults: "worstjett"
  - id: tag
    type: STRING
    defaults: "1000"
  - id: region
    type: STRING
    defaults: "ap"

tasks:
  - id: fetch_data
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: fetch_account
        type: io.kestra.plugin.core.http.Request
        uri: "{{ secret('VALO_API_URL') }}/valorant/v1/account/{{ inputs.username }}/{{ inputs.tag }}"
        method: GET
        headers:
          Authorization: "{{ secret('VALO_API_KEY') }}"

      - id: fetch_mmr
        type: io.kestra.plugin.core.http.Request
        uri: "{{ secret('VALO_API_URL') }}/valorant/v1/mmr/{{ inputs.region }}/{{ inputs.username }}/{{ inputs.tag }}"
        method: GET
        headers:
          Authorization: "{{ secret('VALO_API_KEY') }}"

      - id: fetch_matches
        type: io.kestra.plugin.core.http.Request
        uri: "{{ secret('VALO_API_URL') }}/valorant/v3/matches/{{ inputs.region }}/{{ inputs.username }}/{{ inputs.tag }}?size=10"
        method: GET
        headers:
          Authorization: "{{ secret('VALO_API_KEY') }}"

  - id: process_dashboard
    type: io.kestra.plugin.scripts.python.Script
    # Optimized: Running in PROCESS mode to avoid Docker overhead (38s -> <1s)
    # runner: DOCKER (Removed)
    inputFiles:
      account.json: "{{ outputs.fetch_account.body }}"
      mmr.json: "{{ outputs.fetch_mmr.body }}"
      matches.json: "{{ outputs.fetch_matches.body }}"
    outputFiles:
      - output.json
    script: "{{ read('scripts/dashboard_parser.py') }}"