kestra/flows/match_insight.yaml
id: match_insight
namespace: valorant
inputs:
  - id: match_id
    type: STRING
    defaults: "a4e99f5e-4066-4700-9284-1845eb5e5227" # Example match ID for testing
  - id: username
    type: STRING
    defaults: "worstjett"
  - id: tag
    type: STRING
    defaults: "1000"

tasks:
  - id: fetch_match
    type: io.kestra.plugin.core.http.Request
    uri: "{{ secret('VALO_API_URL') }}/valorant/v2/match/{{ inputs.match_id }}"
    method: GET
    headers:
      Authorization: "{{ secret('VALO_API_KEY') }}"

  - id: analyze_match
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.9-slim
    
    # Pass inputs as environment variables so Python can read them
    env:
      TARGET_NAME: "{{ inputs.username }}"
      TARGET_TAG: "{{ inputs.tag }}"
    
    # Pass the API response as a file
    inputFiles:
      match_detail.json: "{{ outputs.fetch_match.body }}"
    outputFiles:
      - output.json
    
    # PYTHON SCRIPT EMBEDDED BELOW
    script: |
      import json
      import sys
      import os

      def main():
          output = {}
          try:
              # 1. SETUP & INPUTS
              target_name = os.environ.get('TARGET_NAME')
              target_tag = os.environ.get('TARGET_TAG')

              if not target_name or not target_tag:
                  write_output({"error": "Missing TARGET_NAME or TARGET_TAG"})
                  return

              with open('match_detail.json', 'r') as f:
                  match_data = json.load(f)

              data = match_data.get('data', {})
              players = data.get('players', {}).get('all_players', [])
              metadata = data.get('metadata', {})
              
              # 2. FIND THE SPECIFIC PLAYER
              player_stats = None
              
              for p in players:
                  p_name = p.get('name', '').lower()
                  p_tag = p.get('tag', '').lower()
                  if p_name == target_name.lower() and p_tag == target_tag.lower():
                      player_stats = p
                      break
              
              if not player_stats:
                  write_output({"error": f"Player {target_name}#{target_tag} not found."})
                  return

              # 3. CALCULATE METRICS
              stats = player_stats.get('stats', {})
              
              # HS%
              head = stats.get('headshots', 0)
              body = stats.get('bodyshots', 0)
              leg = stats.get('legshots', 0)
              total_hits = head + body + leg
              hs_percent = (head / total_hits * 100) if total_hits > 0 else 0

              # ACS
              rounds_played = metadata.get('rounds_played', 1)
              if rounds_played == 0: rounds_played = 1
              acs = stats.get('score', 0) / rounds_played

              # ADR
              damage = stats.get('damage_made') or stats.get('damage', 0)
              if damage == 0: 
                   rounds_data = data.get('rounds', [])
                   for rnd in rounds_data:
                       for ps in rnd.get('player_stats', []):
                           if ps.get('player_puuid') == player_stats.get('puuid'):
                               damage += ps.get('damage', 0) 
              adr = damage / rounds_played

              # KDR
              kills = stats.get('kills', 0)
              deaths = stats.get('deaths', 0)
              kdr = round(kills / deaths, 2) if deaths > 0 else kills

              # First Bloods
              first_bloods = 0
              player_puuid = player_stats.get('puuid')
              rounds_data = data.get('rounds', [])
              
              for rnd in rounds_data:
                  earliest_time = 999999
                  first_killer = None
                  for p_stat in rnd.get('player_stats', []):
                      for kill in p_stat.get('kill_events', []):
                          k_time = kill.get('kill_time_in_round', 999999)
                          if k_time < earliest_time:
                              earliest_time = k_time
                              first_killer = kill.get('killer_puuid')
                  
                  if first_killer == player_puuid:
                      first_bloods += 1

              # 4. OUTPUT
              output = {
                  "headshot_percent": round(hs_percent, 1),
                  "acs": int(round(acs, 0)),
                  "first_bloods": first_bloods,
                  "adr": int(round(adr, 0)),
                  "kdr": kdr
              }
              write_output(output)

          except Exception as e:
              write_output({"error": f"Script Exception: {str(e)}"})
              sys.exit(1)

      def write_output(data):
          with open('output.json', 'w') as f:
              json.dump(data, f)

      if __name__ == "__main__":
          main()